.menu-notification-popover .ant-popover-inner-content {
  width: 420px;
  min-height: 60vh;
  max-height: initial !important;
  overflow-y: auto;
  padding: 0;
}
.notification-tabs .ant-tabs-tab + .ant-tabs-tab {
  margin: 0 0 0 20px;
}
.notification-tabs .ant-tabs-tabpane {
  padding: 0;
  overflow: hidden;
}
.notification-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
}
.notification-total {
  margin-left: 5px;
  border-radius: 8px;
  background: #ff7d1a;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 8px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  padding: 5px;
  color: #ffffff;
}
.new-section {
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.new-section h3 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #1d1929;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.new-total {
  background: #cae6ff;
  border-radius: 10px;
  padding: 6px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #0085ff;
  margin-left: 10px;
}
.notification-list {
  width: 100%;
}
.notification-item {
  width: 100%;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  align-items: start;
}
.notification-item-left {
  width: 20%;
  padding: 10px;
  position: relative;
}
.notification-item-left .notification-avatar {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid transparent;
  padding: 2px;
}
.notification-item-left .notification-type-icon {
  position: absolute;
  bottom: 0;
  right: 8px;
}
.notification-item-right {
  width: 80%;
  padding-top: 20px;
}
.notification-item-right h4 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 15px;
  line-height: 147%;
  color: #1d1929;
}
.notification-footer {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  color: #8e8c94;
  width: 100%;
}
.notification-time {
  color: #1d92ff;
}
.notification-sub-footer {
  width: 100%;
  margin-top: 7px;
}
.notification-sub-footer button {
  border-radius: 3px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #f9f9f9;
  padding: 4px 8px;
  border: none;
  outline: none;
  margin-right: 10px;
  cursor: pointer;
}
.notification-sub-footer .btn-order {
  background: #0085FF;
}
.notification-sub-footer .btn-payment {
  background: #4A4754;
}
.notification-view-all {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 112%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #0085ff;
  width: 100%;
  cursor: pointer;
}
.notification-no-click-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.notification-is-read h4 {
  color: gray;
}
/* Group */
.notification-item.Chat .notification-avatar {
  border-color: #78F2D3;
}
.notification-item.Chat .notification-type-text {
  color: #78F2D3;
}
.notification-item.OrderNPayment .notification-avatar {
  border-color: #77BEFF;
}
.notification-item.OrderNPayment .notification-type-text {
  color: #77BEFF;
}
.notification-item.PitchProposal .notification-avatar {
  border-color: #FFB780;
}
.notification-item.PitchProposal .notification-type-text {
  color: #FFB780;
}
.notification-item.System .notification-avatar {
  border-color: #77757F;
}
.notification-item.System .notification-type-text {
  color: #77757F;
}